@media only screen and (max-width: 1024px){
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
h1 { font-size: 73px;}

h2 { font-size: 55px;}

h3 { font-size: 35px;}

}

@media only screen and (min-width: 681px) and (max-width: 768px){
h1 { font-size: 70px;}

h2 { font-size: 55px;}

h3 { font-size: 35px;}

}

@media only screen and (max-width: 680px){
h1 { font-size: 42px;}

h2 { font-size: 35px;}

h3 { font-size: 29px;}

}